<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="IntuitivusDriveStep"
   iconfile="icon.png"
   description="Spreadsheet input"
   tooltip="Access your Google Spreadsheet"
   category="Input"
   classname="com.intuitivus.pdi.steps.spreadsheet.IntuitivusSpreadsheetStepMeta">
   <localized_category>
     <category locale="en_US">Input</category>
   </localized_category>
   <localized_description>
     <description locale="en_US">Spreadsheet input</description>
   </localized_description>
   <localized_tooltip>
     <tooltip locale="en_US">Access your Google Spreadsheet</tooltip>
   </localized_tooltip>
   <libraries>
		<library name="lib/pdi-spreadsheet-plugin-1.0.jar"/>
		<library name="lib/core-1.47.1.jar"/>
		<library name="lib/guava-11.0.1.jar"/>
	</libraries>
</plugin>
